.bang1{
    width: 100%; 
    padding: 20px;
    border-bottom: 1.5px dotted #999999;
    display: block;
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.bang2{
    width: 100%; 
    padding: 20px;
    display: block;
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.boGachChanLink{
    outline: none;
    text-decoration: none;
}

.search-button {
    width: 120px;
    height: 40px;
    background-color: #82589F;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
/*  padding: đệm ( Padding là khoảng cách giữa biên nội cùng của một phần tử và nội dung bên trong nó)
    margin: lề(Margin là khoảng cách giữa biên ngoại cùng của một phần tử và các phần tử xung quanh nó) */
.search-input {
    width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.td1{
    text-align: center;
    padding: 10px;
    width: 60px;
	background: #82589F;
	font-family: Open Sans, 'sans-serif';
	font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.customh1{
    font-size: 40px;
    font-family: 'Century Gothic', sans-serif;
}

.customh2{
    font-size: 20px;
    font-family: 'Century Gothic', sans-serif;
    color: deeppink;
}

.customH3tag{
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.customH4tag{
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.customP1_AboutMe{
    font-size: 20px;
    font-family: 'Century Gothic', sans-serif;
    color: #ED4C67;
}

.readmore-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(233, 124, 182); /* Màu nền */
    color: #fff; /* Màu chữ */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
}

.tdFooterCustom{
    background-color: #ED4C67;
    color: whitesmoke;
    font-size: auto;
    font-family: 'Playfair Display', serif;
}